/* .counter {
  margin: auto;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}
button {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
} */
